"*":
  "atom-ternjs":
    guess: false
    inlineFnCompletion: false
  "autocomplete-paths":
    enableHtmlSupport: true
    normalizeSlashes: false
  "autocomplete-plus":
    autoActivationDelay: 50
    includeCompletionsFromAllBuffers: false
    similarSuggestionRemoval: "textOrSnippet"
    strictMatching: true
  autosave: {}
  "base16-syntax":
    scheme: "Twilight"
  core:
    audioBeep: false
    disabledPackages: [
      "whitespace"
      "autosave"
      "background-tips"
      "bookmarks"
      "exception-reporting"
      "go-to-line"
      "language-c"
      "language-clojure"
      "language-csharp"
      "language-go"
      "language-java"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-python"
      "language-toml"
      "language-typescript"
      "metrics"
      "package-generator"
      "styleguide"
      "welcome"
      "linter-jsonlint"
      "language-javascript"
      "language-source"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "node_modules"
      ".tmp"
      "coverage"
      "*.js.map"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "highlight-selected"
      "atom-ternjs"
      "todo-show"
      "package-list"
    ]
    projectHome: "/Users/RobW/Documents/OSS"
    telemetryConsent: "no"
    themes: [
      "isotope-ui"
      "base16-syntax"
    ]
  editor:
    fontFamily: "Inconsolata-dz"
    lineHeight: 1.4
    scrollPastEnd: true
    scrollSensitivity: 100
    showIndentGuide: true
    softWrap: true
    softWrapHangingIndent: 2
  "exception-reporting":
    userId: "29cc775d-e4f9-4d0c-b38f-55e8f73484b7"
  "find-and-replace":
    closeFindPanelAfterSearch: true
  "fuzzy-finder": {}
  "git-blame":
    columnWidth: 273
  "git-diff": {}
  "highlight-selected":
    highlightBackground: true
  "isotope-ui":
    lowContrastTooltip: true
    minimalMode: true
    tabSizing: "Minimum"
  "language-babel":
    autoIndentJSX: true
    babelMapsAddUrl: false
    createTargetDirectories: false
    disableWhenNoBabelrcFileInPath: false
    suppressSourcePathMessages: false
    suppressTranspileOnSaveMessages: false
  linter:
    lintPreviewTabs: false
  "linter-ui-default": {}
  "markdown-preview":
    useGitHubStyle: true
  "one-dark-ui":
    tabSizing: "Minimum"
  "open-recent":
    listDirectoriesAddedToProject: true
  "spell-check":
    addKnownWords: true
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "source.css"
      "text.html"
      "source.css"
      "source.js"
      "source.json"
    ]
    knownWords: [
      "Onboarding"
    ]
  tabs:
    enableMruTabSwitching: false
    enableVcsColoring: true
  "todo-show":
    findTheseTodos: [
      "TODO"
      "FIXME"
      "XXX"
      "IDEA"
      "HACK"
      "NOTE"
      "REVIEW"
      "BUG"
      "QUESTION"
      "TEMP"
      "RWRW"
    ]
  "toggle-quotes":
    quoteCharacters: "\"'`"
  welcome:
    showOnStartup: false
