[core]
  editor = subl -n -w
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes

[user]
  name = Rob Wierzbowski
  email = rob.wierzbowski@gmail.com

[color]
  ui = auto

[push]
  # Push to the branch with the same name as current on remote
  default = current
  # Make `git push` push related tags along with branches.
  followTags = true

[mergetool "subl"]
  cmd = subl -w $MERGED
  trustExitCode = false

[merge]
  tool = subl

[alias]
  heroku-prod-deployed-commit=!sh -c 'heroku releases -r production | grep Deploy | tr -s \" \" | cut -d \" \" -f 3 | head -n 1' -
  compare-heroku=!sh -c 'hub compare $(git heroku-prod-deployed-commit)..master' -
[credential]
	helper = osxkeychain
