[core]
  editor = atom --wait
  excludesfile = ~/.gitignore

# Going to need to config for multiple accts
# https://code.tutsplus.com/tutorials/quick-tip-how-to-work-with-github-and-multiple-accounts--net-22574
[user]
  name = Rob Wierzbowski
  email = rob.wierzbowski@gmail.com

[color]
  ui = auto

[push]
  # Push to the branch with the same name as current on remote
  default = current
  # Make `git push` push related tags along with branches.
  followTags = true

[mergetool "atom"]
  cmd = atom --wait $MERGED
  trustExitCode = false

[merge]
  tool = atom
  renamelimit = 2468

[credential]
	helper = osxkeychain
